<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--注解扫描-->
    <context:component-scan base-package="cn.kgc.ssm"/>

    <!-- 数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"></property>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/library"></property>
        <property name="user" value="root"></property>
        <property name="password" value="LUCKY520"></property>
    </bean>

    <!-- SessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="dataSource"></property>
        <!-- 配置mapper.xml扫描 -->
        <property name="mapperLocations" value="classpath:mapper-xml/*Mapper.xml"></property>
        <!-- 配置别名包 -->
        <property name="typeAliasesPackage" value="cn.kgc.ssm.model"></property>
        <!-- 加载mybatis配置文件 -->
        <!-- <property name="configLocation" value="classpath:mybatis-config.xml"></property> -->
    </bean>

    <!-- 事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <tx:advice id="advice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- REQUIRED 默认值，必须有事务，有就用没有则创建 -->
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="modify*" propagation="REQUIRED" />
            <tx:method name="remove*" propagation="REQUIRED" />
            <!-- SUPPORTS支持事务，有就用没有就不用 -->
            <tx:method name="*" propagation="SUPPORTS" />
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut expression="execution(* cn.kgc.ssm.service.*.*(..))"
                      id="pointcut" />
        <aop:advisor advice-ref="advice" pointcut-ref="pointcut" />
    </aop:config>


    <!-- 配置mybatis mapper接口扫描，生成动态代理对象并添加到spring容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.kgc.ssm.mapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>


</beans>